// Main Stylesheet

// Injects all imports files automatically (ex. _mypartial)
// [injector]
// [endinjector]

.main-container {
    padding-top: 200px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 15px;
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}
